<div id="fitnessplan-page" class="column">

  {{#if username}}
    <div id="fitnessplan-nav" class="conatiner">
      <h1>
        Understanding Your Health:
        {{username}}
      </h1>

    </div>

    <div class="card-deck">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h4 class="card-title">Basal Metabolic Rate</h4>
          <h5>{{bmr}} Calories</h5>
          <p class="card-text">Basal Metabolic Rate (BMR) is the number of
            calories you burn as your body performs basic (basal)
            life-sustaining function. Commonly also termed as Resting Metabolic
            Rate (RMR), which is the calories burned if you stayed in bed all
            day.</p>
          <a
            id="button"
            href="https://www.healthline.com/health/what-is-basal-metabolic-rate#How-many-calories-you-need-everyday-"
            target="_blank"
            class="btn btn-primary"
          >Learn More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h4 class="card-title">Total Dailey Energy Expenditure</h4>
          <h5>{{tdee}} Calories</h5>
          <p class="card-text">Total Dailey Energy Expenditure(TDEE) is the
            amount of calories you are estimated to burn in a single day. This
            takes into account your height, weight, age, gender and level of
            activity in calculating TDEE</p>
          <a
            id="button"
            href="https://steelfitusa.com/blogs/health-and-wellness/calculate-tdee"
            target="_blank"
            class="btn btn-primary"
          >Learn More</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h4 class="card-title">Caloric Needs</h4>
          <h5>To Lose Weight: {{calNeedReduc}} Calories</h5>
          <h5>To Gain Weight: {{calNeedGain}} Calories</h5>
          <p class="card-text">Caloric Need shows how many calories you need to
            consume dailey to either gain or lose weight with moderate exercise.
            To maintain weight you should consume calories equal to your TDEE</p>
          <a
            id="button"
            href="https://www.healthline.com/nutrition/how-many-calories-per-day"
            target="_blank"
            class="btn btn-primary"
          >Learn More</a>
        </div>
      </div>

    </div>

  {{else}}
    <div id="fitnessplan-nav" class="conatiner">
      <h1>
        Login for More Info
      </h1>
    </div>
  {{/if}}
</div>